.card {
   
    box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a;
    background: #fff;
    border-radius: 14px !important;
    display: inline-block;
  }
 .input-radius{
    border-radius: 6px;
 }